<div class="principal">
<div class="flex-container">
    <div *ngFor="let character of allCharacters" >
        <mat-card class="flex-item">
            <img mat-card-image src="{{character.img.path}}.{{character.img.extension}}" alt="{{character.name}}">
            <mat-card-title>
                {{character.name}}
            </mat-card-title>
            <div style="overflow: hidden;">
                <button class="button-info" (click)="getPersonaje(character.id)">Info</button>
            </div>
        </mat-card>
    </div>
</div>
</div>